@import '../vars.scss';

#bfcCart {

    z-index: 999999;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    #bfcCartButtonEl {
        pointer-events:all;
        position: absolute;
        top: 20px;
        left: 20px;
        background: $primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #bfcCartList {
        pointer-events:all;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        overflow: scroll;
        background: white;
        padding: 30px;
        width: 300px;
    }

}